<body>


    <form action="/login" method="post">


        <div>
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h1 class="title"> Waiters </h1>
                    </div>
                   
                    <div class="col-12">
                        <h1 class="title">Availability</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                
                {{#if messages.erro}}
                    <div style="height:30px ;" class="massages">
                        <h3 style="color:red; font-size:15px " class="massages">{{messages.erro}}</h3>
                 </div>{{/if}}
                    

            </div>

            <div class="container">
              
                <br>
                <div class="row">
                    <div class="texInput">
                        <input type="text" name="name" style="color:black ;  class="names" placeholder="name">
            
                    </div>

                </div>
            </div>

        </div>
        <br>
        <div>

            <div class="container">
                <div class="row">
                    <div class="texInput">
                        <input type="text" name="code" style="color:black ; class="names" placeholder="Unique Code">
                        
                        <button type="submit" class="btn" value="LOGIN">LOGIN</button>
    </form> 
                            <a href="/adduser"><p style="color: red;" >Sign Up</p></a>
                    </div>
                    <br>
                    <div class="texInput">
                        
                        
                    </div>

                </div>
            </div>

        </div>


  <script src="/timeout.js"></script>
</body>


</html>